
body{
    background-color: orange;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    width: 810px;
    margin-left: auto;
    margin-right: auto;
}


.ceil{
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
    color: whitesmoke;
}

p{
    margin: 5px;
}

.link{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 830px){
    .container{
        width: 550px;
    }
}

@media(max-width:540px){
    .container{
        width: 280px;
    }
}